<!-- views/confirm-otp.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Confirm OTP</title>
  <link rel="stylesheet" href="css/styles-login.css">
  <script src="js/script-login.js"></script>
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Confirm OTP</header>
      <form action="confirm-otp" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <input type="submit" class="button" value="Confirm">
      </form>
    </div>
  </div>
</body>
</html>
