<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link rel="stylesheet" href="css/styles-login.css">
  <script src="js/script-login.js"></script>

</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="/login" method="post">
        <input type="text" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="error-message" style="color: red; text-align: center;">
        <% if (message) { %>
          <%= message %>
        <% } %>
      </div>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/register">Signup</a>
        </span>
      </div>
    </div>
    
  </div>

  <script>
    function sendOTP() {
      alert("OTP Sent!");
    }

    
  </script>
</body>
</html>
