<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}"></script>

</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/login/signup">Signup</a>
        </span>
      </div>
    </div>
    
  </div>

  <script>
    function sendOTP() {
      alert("OTP Sent!");
    }

    
  </script>
</body>
</html>
