<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}" defer></script> 
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form action="{% url 'signup' %}" method="post" onsubmit="validatePassword(event)">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Enter your email" required>
        <input type="text" name="otp" id="otpInput" placeholder="Enter OTP" style="width: calc(50% - 10px); display: inline-block;" required>
        <input type="button" class="button" value="Send" onclick="sendOTP()" style="width: calc(50% - 10px); display: inline-block;">
        <input type="password" name="password" id="password" placeholder="Create a password" required>
        <input type="password" name="confirm_password" id="confirmPassword" placeholder="Confirm your password" required>
        <div id="password-error" style="color: red; margin-bottom: 10px;"></div>
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a href="{% url 'login' %}">Login</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
